@CHARSET "UTF-8";


[v-cloak] {
	display: none;
}


.whole {
	height: 750px;
	text-align: center;
	background-color: #f5f5f6;
}

i-col {
	background-color: red;
}

.head {
	height: 70px;
	background-color: #787878;
	border-bottom: 1px solid #787878;
}

.foot {
	height: 200px;
	background-color: #373d41;
}

.body {
	margin: 50px auto 30px;
	width: 1100px;
	height: 550px;
	text-align: center;
	background-color: #fff;
}

.content {
	padding-top: 50px;
	text-align: center;
}

.content-head {
	font-size: 28px;
	text-align: center;
}
/*     position: absolute; */
.tips {
	margin-right: 10%;
	color: #73777a;
	text-align: right;
	letter-spacing: .4px;
	clear: both
}

.tips-text {
	
}

.tips-link {
	color: #00c1de;
}

/* width:60%; */
/* 	margin-left:20%;
	margin-right:20%;
    margin-top: 15px;  */
.content-body {
	width: 800px;
	margin: 15px auto 15px;
	text-align: center;
}

/*     border: 1px red solid; */
.div_item {
	height: 55px;
	text-align: center;
}

.div_left {
	float: left;
}

.div_right {
	float: right;
}

/* margin-top: 10px; */
.div_input {
	margin-left: 150px;
	width: 400px;
	text-align: right;
}

.div_input_left{
	margin-left: 160px;
	width: 400px;
	text-align: left;
}

/*     margin-right:50px; */
.error_font {
	color: red;
	font-size: 15px;
	font-family: Microsoft YaHei;
	width: 230px;
	text-align: left;
}

.passwordTip {
	margin-left: -50px;
	color: #999999;
}

.span_show {
	width: 50px;
	font-size: 17px;
	font-family: Microsoft YaHei;
	margin-right: 10px;
}

.span_radio{
	margin: 0px 50px 0px 8px;
}

.long_input {
	width: 300px;
}

.short_input {
	width: 200px;
}

.code_button {
	width: 100px;
}

.register_picCode {
	width: 100px;
	height: 33px;
	vertical-align: middle;
}

/* .register_button{
    width: 125px;
} */
.register_button {
	width: 300px;
}

.close_button {
	width: 125px;
}

.div_item_bottom {
	margin-bottom: 40px
}