<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>角色信息表</title>
<script type="text/javascript" src="../public/common.js"></script>
</head>
<body>
	<div class="layout-body" id="role" v-cloak>
		<layout-header></layout-header>
		<div id="wrap">
			<layout-sider></layout-sider>
			<div class="layout-main">
				<!-- 多条件查询 -->
				<div class="qry">
					<div class="first">
						<div class="juinline">
							角色key:
							<el-input class="select_input" v-model.trim="sRole.mykey" type="text" clearable></el-input>
							角色名称:
							<el-input class="select_input" v-model.trim="sRole.name" type="text" clearable></el-input>
							</br> </br> </br>
						</div>
					</div>
					<div class="butLeft">
						<i-button type="primary" @click="addRoleModal = true">新增角色信息</i-button>
						<i-button @click="openRemoveRoleSelectModal">禁用</i-button>
					</div>
					<div class="butRight">
						<i-button type="primary" @click="filter">搜索</i-button>
						<i-button  @click="clearSRole">清空</i-button>
					</div>
				</div>
				<div class="white">&nbsp;</div>
				<div>
					<!-- 表格 -->
					<i-table class="table" border height="auto" size='small' :columns="column"
						:data="nowData" :loading="loading"
						@on-selection-change="onSelectionChange"> 
                       <template slot-scope="{ row, index }"
						slot="action">
						<a class = "table-a"@click="openEditRoleModal(index)">编辑 </a>
						<a @click="openRemoveRoleModal(index)">禁用 </a>
						</template> 
					</i-table>

                <div class="div-inline-left">
                    <span v-show="selection.length >0">已勾选 {{selection.length}} 条</span>
                </div>

						<!-- 分页 -->
						<div class="div-inline-right">
							<!-- current:当前页码  total:数据总数  page-size:每页条数-->
							<Page :current="pageNum" :total="totalNum" :page-size="pageSize"
								@on-change="onPageChange"
								@on-page-size-change="onPageSizeChange" show-total show-elevator
								show-sizer></Page>
						</div>
					</div>
				</div>

				<!-- 新增模态框 -->
				<Modal v-model="addRoleModal" :mask-closable="false"  @on-cancel="cancelAddRole">
				<p slot="header">
					<span>新增角色信息</span>
				</p>
				<center>
					<table>
						<tr>
							<td>角色key:</td>
							<td><el-input class="input" v-model.trim="role.mykey" type="text" placeholder="请输入0~64个字符"></el-input>
							</td>
						</tr>
						<tr>
							<td>角色名称:</td>
							<td><el-input class="input" v-model.trim="role.name" type="text" placeholder="请输入0~64个字符"></el-input>
							</td>
						</tr>
						<tr>
							<td>角色描述:</td>
									<td> <el-input class="input" type="textarea" v-model.trim="role.description"
                                          maxlength="2000" :autosize="{minRows: 2,maxRows: 4}"
                                          show-word-limit></el-input></td>
						</tr>

					</table>
				</center>
				<div slot="footer">
					<i-button type="text" size="large" @click="cancelAddRole">取消</i-button>
					<i-button type="primary" size="large" @click="addRole">确定</i-button>
				</div>
				</Modal>

				<!-- 编辑模态框 -->
				<Modal v-model="editRoleModal" :mask-closable="false" @on-cancel="cancelEditRole">
				
				<p slot="header">
					<span>编辑角色信息</span>
				</p>
				<center>
					<table>
						<tr>
							<td>角色key（不可更改）:</td>
							<td><el-input class="input" v-model.trim="role.mykey" type="text" readonly ></el-input>
							</td>
						</tr>
						<tr>
							<td>角色名称:</td>
							<td><el-input class="input" v-model.trim="role.name" type="text"></el-input>
							</td>
						</tr>
						<tr>
							<td>角色描述:</td>
							<td><el-input class="input" type="textarea" v-model.trim="role.description"
                                          maxlength="2000" :autosize="{minRows: 2,maxRows: 4}"
                                          show-word-limit></el-input></td>
						</tr>
						<tr>
						    <td>状态:</td>
							<td>
							<radio-group v-model="role.enable"> 
									<radio label="启用"></radio> 
									<radio label="禁用"></radio>
									 </radio-group></td>
						</tr>

					</table>
				</center>
				<div slot="footer">
				
					<i-button type="text" size="large" @click="cancelEditRole">取消</i-button>
					<i-button type="primary" size="large" @click="editRole">确定</i-button>
				</div>
				</Modal>

				<!-- 禁用模态框 -->
				<Modal v-model="removeRoleModal" title="禁用角色信息"
					@on-ok="removeRole">
				<p>确定禁用该角色信息？</p>
				</Modal>
				<!-- 批量禁用模态框 -->
				<Modal v-model="removeRoleSelectModal" title="批量禁用角色信息"
					@on-ok="removeRoleSelect">
                <p>确定禁用当前 {{selection.length}} 条角色信息？</p>
				</Modal>
			</div>
			<div style="clear: both"></div>
		<layout-footer></layout-footer>
	</div>
	<script type="text/javascript" src="./js/role.js"></script>
</body>
</html>